# Test Diagnóstico Data Scientist Jr
## Análisis de datos para correlación de QA
### Jorge Antonio Jiménez López
**21 de febrero, 2022**

### Procedimiento general
1. Limpieza de datos y relación de tablas

2. Lectura de valores en el Notebook
    2.1 Activar módulos necesarios
    2.2 Importar datos en DataSets

3. Agrupación de datos y obtención de promedios

4. Integrar datos con valores relacionados

5. Identificación de variables esperadas
    - Calidad >= 85%
    - Ignore rate <= 10%
    - Rotation rate < 90%
    - Taklk Time / AWT Per >= 90%

In [1]:
# 1.
# Limpieza de datos y relación de tablas
# Identificar los valores perdidos y buscar los elementos coincidentes

In [2]:
# 2.
# Lectura de valores en el Notebook

# 2.1 Módulos necesarios
import pandas as pd

In [3]:
#2.
# Lectura de valores en el Notebook

# 2.2 Creación de Datasets
xl_QA = pd.read_excel("xlData_QA.xlsx")
xl_account = pd.read_excel("xlData_account.xlsx")
xl_norm = pd.read_excel("xlData_QA_norm.xlsx")

In [14]:
#3.
# Agrupación de datos y obtención de promedios

ds_accMonth = xl_account.groupby(["Name", "Month"]).mean()
ds_accMonth.head(5)

                                          Rot/Log Perc  Talk Time/AWT Perc  \
Name                            Month
Aguayo González Jaime Francisco December      0.948889            0.899630
                                January       0.884231            0.916923
                                November      0.799600            0.391200
Chávez Heredia Andrea           December      0.906667            0.932000
                                November      0.847333            0.806000

                                          % Ignored
Name                            Month
Aguayo González Jaime Francisco December   0.069263
                                January    0.076148
                                November   0.321691
Chávez Heredia Andrea           December   0.032588
                                November   0.094607

In [ ]:
#4.
# Integrar datos con valores relacionados

In [15]:
xl_norm

,Agent,Name,Oct,Nov,Dec,Jan,Grand Total
0,Aguayo Jaime,Aguayo González Jaime Francisco,90.875000,74.900000,75.150000,81.750000,79.200000
1,Chávez Andrea,Chávez Heredia Andrea,NaN,81.500000,88.666667,NaN,86.107143
2,Cortés Ruth,Cortés Lagunes Ruth Silvana,NaN,NaN,NaN,75.000000,75.000000
3,NaN,de jesús Ramos Ariana,NaN,NaN,NaN,NaN,NaN
4,Delgado Luis,Delgado Barrón Luis Felipe,NaN,76.750000,76.562500,NaN,76.642857
5,Espejo Hansel,Espejo Ramos Hansel Andres,98.000000,96.250000,77.500000,NaN,88.631579
6,Aniyensy Flores,Flores Aguilar Aniyensy Sarai,NaN,76.571429,79.166667,88.750000,80.175000
7,Flores Karla,Flores Silva Karla Paulette,93.100000,85.888889,85.388889,81.083333,85.982759
8,NaN,García Arreguín Montserrat Carolina,NaN,NaN,NaN,NaN,NaN
9,García Lisset,García Orozco Lisset Vianey,NaN,79.000000,NaN,NaN,79.000000
10,Gómez José,Gómez Vargas José Ignacio,98.714286,94.200000,87.500000,91.333333,92.606061
11,NaN,GONZÁLEZ DÍAZ ROCIO,NaN,NaN,NaN,NaN,NaN
12,González Cipriano,González Trejo Cipriano Ariel,NaN,NaN,NaN,88.000000,88.000000
13,Guerrero Miguel,Guerrero Padrés Miguel Alejandro,NaN,77.000000,86.777778,84.857143,83.217391
14,GUILLEN KARINA,GUILLEN MARIN KARINA,NaN,NaN,NaN,58.750000,58.750000
15,Danna Hernandez,Hernández González Danna Verónica,NaN,74.583333,89.937500,91.571429,86.095238
16,Hernández Jaime,Hernández Palacios Jaime Daniel,97.750000,83.409091,71.750000,64.583333,78.275862
17,Hernández Miguel,Hernández Prado Miguel Ángel,NaN,NaN,NaN,64.375000,64.375000
18,Herrera Luis,Herrera Arias Luis Fernando,96.625000,82.750000,85.750000,94.900000,89.706897
19,Samanta Lara,Lara Agapito Samanta,NaN,NaN,NaN,72.500000,72.500000
20,Lunar Julia,Lunar Pérez Julia Andrea,NaN,NaN,NaN,84.500000,84.500000
21,Maximov María,Maximov Cortés María,91.312500,96.181818,74.000000,79.300000,86.393939
22,Meré Pablo,Meré Hidalgo Pablo,NaN,NaN,NaN,80.000000,80.000000
23,Morales Diana,Morales Gonzalez Diana Laura,93.666667,87.333333,79.450000,88.666667,86.274194
24,NaN,Moreno Chávez Yaír Jofrá,NaN,NaN,NaN,NaN,NaN
25,Moreno Aelín,Moreno Huitrón Aelín,NaN,NaN,NaN,63.500000,63.500000
26,Moreno Jessica,Moreno Reveles Jessica Liliana,NaN,NaN,NaN,57.500000,57.500000
27,Eduardo Munguía ',Munguía González Eduardo Elihu,NaN,66.333333,NaN,NaN,66.333333
28,Nuñez Itzel,Nuñez Garcia Itzel,97.214286,93.590909,77.714286,92.250000,90.564516
29,Erandhi Ornelas,Ornelas Guzmán Erandhi Claudel,95.000000,77.750000,NaN,NaN,82.454545
30,Ortega Adriana,Ortega Romero Adriana Azzeneth,NaN,65.285714,71.833333,NaN,67.250000
31,Parga Irma,Parga Fuentes Irma Carolina,NaN,92.333333,NaN,NaN,92.333333
32,Alejandra Pérez,Pérez Moreno Alejandra Berenice,NaN,NaN,NaN,73.416667,73.416667
33,Yail Reyes,Reyes Báez Yail Tsayam,NaN,NaN,NaN,82.000000,82.000000
34,Esteban Reyes,Reyes Saldaña Esteban,NaN,NaN,NaN,87.000000,87.000000
35,Amado Gonzalez,NaN,91.750000,NaN,NaN,NaN,91.750000
36,Brayan Michaels,NaN,NaN,55.250000,NaN,NaN,55.250000
37,Jose Feliciano Hernandez,NaN,69.500000,NaN,NaN,NaN,69.500000
38,Junior Vazquez,NaN,0.000000,NaN,NaN,NaN,0.000000
39,Lucia Solis,NaN,100.000000,NaN,NaN,NaN,100.000000
40,Marquez Hortensia,NaN,63.500000,NaN,NaN,NaN,63.500000
41,Rojo Maria,NaN,84.500000,NaN,NaN,NaN,84.500000
42,Villanueva Angel,NaN,76.500000,NaN,NaN,NaN,76.500000